body {
    margin: 0px;
    padding: 0px;
}

.main-canvas {
    display: block;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.lil-gui {
    --number-color: #ff8002;
	--string-color: lightgreen;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

/* pcui */

.root-panel {
    height: 100vh;
}

.pcui-label {
    font-size: 14px;
    /* line-height: 1.4; */
}

/* scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}